<div class="modal fade" role="dialog" aria-modal="true" id="edit-client-modal-{% if client %}{{ client.id }}{% else %}new{% endif %}" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        
        <div class="modal-content">
            <div class="modal-header  text-center pb-3 border-bttom">
                <h3 class="modal-title">{% if client %}Edit Client{% else %}New Client{% endif %}</h3>
                {% if client %}
                {% else %}
                <a href="#" class="svg-icon" data-dismiss="modal">                        
                    <svg class="svg-icon" width="35" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M6 18 18 6M6 6l12 12"></path>
                        
                    </svg>
                </a>
                {% endif %}
            </div>
            <form method="POST" action="{% if client %}{% url 'CRM:client_edit' client.id %}{% else %}{% url 'CRM:client_create' %}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="clientName" class="h5">Client User Name*</label>
                                <input type="text" class="form-control" id="clientName" name="clientName" value="{% if client %}{{ client.user.username }}{% endif %}">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="password" class="h5">Password*</label>
                                <input type="password" class="form-control" id="clientPassword" name="clientPassword" placeholder="Client Password">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="companyName" class="h5">Company Name*</label>
                                <input type="text" class="form-control" id="companyName" name="companyName" value="{% if client %}{{ client.company_name }}{% endif %}" placeholder="Company Name">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="clientLogo" class="h5">Client Logo</label>
                                <input type="file" name="client_logo" id="clientLogo" class="form-control">
                                {% if client and client.client_logo %}
                                    {% comment %} <a href="{{ client.client_logo.url }}" target="_blank">{{ client.client_logo.name }}</a>
                                    <small>(Uploaded on: {{ client.client_logo.uploaded_at }})</small> {% endcomment %}
                                    <img src="{{ client.client_logo.url }}" alt="Client Logo" class="img-thumbnail mt-2" width="100">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="clientemail" class="h5">Email*</label>
                                <input type="email" class="form-control" id="clientemail" name="clientemail" value="{% if client %}{{ client.user.email }}{% endif %}" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="contactNumber" class="h5">Contact Number*</label>
                                <input type="text" class="form-control" id="contactNumber" name="contactNumber" value="{% if client %}{{ client.contact_number }}{% endif %}" placeholder="Contact Number">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="address" class="h5">Address*</label>
                                <textarea class="form-control" id="address" name="address" placeholder="Client Address">{% if client %}{{ client.address }}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-center justify-content-center mt-2">
                                <button type="submit" class="btn btn-primary mr-3">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
