{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>TeamSync</title>
      
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'webkit/assets/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'webkit/assets/css/backend-plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'webkit/assets/css/backend.css' %}">
    <link rel="stylesheet" href="{% static 'webkit/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'webkit/assets/vendor/remixicon/fonts/remixicon.css' %}">
    
    <link rel="stylesheet" href="{% static 'webkit/assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css' %}">
    <link rel="stylesheet" href="{% static 'webkit/assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css' %}">
    <link rel="stylesheet" href="{% static 'webkit/assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css' %}">

    {% comment %} Alertify JS {% endcomment %}
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>
    <!-- Sweet Alert CSS -->
    <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css"></link>

    </head>
      <body class=" color-light ">
        <div class="wrapper">
        
        <div class="iq-sidebar  sidebar-default ">
            <div class="iq-sidebar-logo d-flex align-items-center">
                <a href="../backend/index.html" class="header-logo">
                    <img src="{% static 'webkit/assets/images/logo.svg' %}" alt="logo">
                    <h3 class="logo-title light-logo">TeamSync</h3>
                </a>
                <div class="iq-menu-bt-sidebar ml-0">
                    <i class="las la-bars wrapper-menu"></i>
                </div>
            </div>
            <div class="data-scrollbar" data-scroll="1">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="">
                            <a href="{% url 'CRM:userDashboard' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                <span class="ml-4">Dashboard</span>
                            </a>
                        </li>
                        {% if request.user.is_superuser %}
                        <li class="">
                            <a href="{% url 'CRM:lead_list' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"></path>
                                </svg>
                                <span class="ml-4">Leads</span>
                            </a>
                        </li>
                        {% endif%}
                        <li class="">
                            <a href="{% url 'CRM:project' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 6 2 18 2 18 9"></polyline>
                                    <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                                    <rect x="6" y="14" width="12" height="8"></rect>
                                </svg>
                                <span class="ml-4">Projects</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'CRM:taskList' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                                    <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                                </svg>
                                <span class="ml-4">Tasks</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'CRM:employees' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <span class="ml-4">Employees</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'private-chat'  %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                </svg>
                                <span class="ml-4">Chat</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'CRM:ticket_list' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                                </svg>
                                <span class="ml-4">Tickets</span>
                            </a>
                        </li>

                        
                        {% if userRole == 'user' %}
                        <li class="">
                            <a href="{% url 'CRM:list_team' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"></path>
                                </svg>
                                <span class="ml-4">Teams</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'CRM:clientList' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"></path>
                                </svg>
                                <span class="ml-4">Clients</span>
                            </a>
                        </li>
                        
                        <li class="">
                            <a href="{% url 'CRM:calendar' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="ml-4">Calender</span>
                            </a>
                        </li>
                        
                        
                        {% endif %}
                        {% if request.user.is_superuser or userRole == 'client' %}
                        <li class="">
                            <a href="{% url 'CRM:estimates' %}" class="svg-icon">                        
                                <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="ml-4">Estimates</span>
                            </a>
                        </li>
                        {% endif%}
                    </ul>
                </nav>
                
                <div class="pt-5 pb-2"></div>
            </div>
        </div>      <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                        <i class="ri-menu-line wrapper-menu"></i>
                        <a href="../backend/index.html" class="header-logo">
                            <h4 class="logo-title text-uppercase">Webkit</h4>
        
                        </a>
                    </div>
                    <div class="navbar-breadcrumb">
                       <a href="{% url 'CRM:userDashboard' %}"> <h5>Dashboard</h5></a>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-label="Toggle navigation">
                            <i class="ri-menu-3-line"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list align-items-center">
                              
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-bell">
                                            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                        </svg>
                                        {% if unread_count > 0 %}
                                        <span class="badge bg-danger rounded-pill">{{ unread_count }}</span>
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                                        <li><h6 class="dropdown-header">Recent Notifications</h6></li>
                                        {% for notification in recent_notifications %}
                                        <li>
                                            <a class="dropdown-item {% if not notification.is_read %}fw-bold{% endif %}" 
                                            href="{% url 'CRM:mark_read' notification.pk %}?next={{ request.path }}">
                                                {{ notification.message|truncatechars:30 }}
                                            </a>
                                        </li>
                                        {% empty %}
                                        <li><span class="dropdown-item text-muted">No new notifications</span></li>
                                        {% endfor %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href=" {% url 'CRM:notification_list' %}" >View All</a></li> 
                                        {% comment %}  {% endcomment %}
                                    </ul>
                                </li>
                                <li class="nav-item nav-icon dropdown caption-content">
                                    <a href="#" class="search-toggle dropdown-toggle  d-flex align-items-center" id="dropdownMenuButton4"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        
                                        {% if userRole == 'client' %}
                                            {% if profile.company_logo %}
                                            <img src="{{ profile.company_logo.url }}" class="img-fluid rounded-circle" alt="client">
                                            {% else %}
                                            <img src="{% static 'webkit/assets/images/user/user-1.jpg' %}" class="img-fluid rounded-circle" alt="Client">
                                            {% endif %}
                                        {% elif userRole == 'user'   %}
                                            {% if profile.profile_pic %}
                                            <img src="{{ request.profile_pic_url }}" class="img-fluid rounded-circle" alt="user">
                                            {% else %}
                                            <img src="{% static 'webkit/assets/images/user/user-1.jpg' %}" class="img-fluid rounded-circle" alt="user">
                                            {% endif %}
                                        {% endif %}
                                        <div class="caption ml-3">
                                            <h6 class="mb-0 line-height">{{ request.user }}<i class="las la-angle-down ml-2"></i></h6>
                                        </div>
                                    </a>                            
                                    <ul class="dropdown-menu dropdown-menu-right border-none" aria-labelledby="dropdownMenuButton">
                                        {% if userRole == 'user' %}
                                        <li class="dropdown-item d-flex svg-icon">
                                            <svg class="svg-icon mr-0 text-primary" id="h-01-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                            <a href="{% url 'CRM:userprofile' %}">My Profile</a>
                                        </li>
                                        <li class="dropdown-item d-flex svg-icon">
                                            <svg class="svg-icon mr-0 text-primary" id="h-02-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            </svg>
                                            <a href="{% url 'CRM:save_profile' %}">Edit Profile</a>
                                        </li>
                                        {% endif %} 
                                        
                                        <li class="dropdown-item  d-flex svg-icon border-top">
                                            <svg class="svg-icon mr-0 text-primary" id="h-05-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                            </svg>
                                            <a href="{% url 'CRM:logoutpage' %}">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>      
            <div class="content-page">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Wrapper End-->
        <footer class="iq-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="{% url 'CRM:privacy_policy' %}">Privacy Policy</a></li>
                            <li class="list-inline-item"><a href="{% url 'CRM:terms_of_service' %}">Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-right">
                        <span class="mr-1"><script>document.write(new Date().getFullYear())</script> ©</span><a href="#" class="">TeamSync</a>.
                    </div>
                </div>
            </div>
        </footer>
    <!-- Backend Bundle JavaScript -->
    <script src="{% static 'webkit/assets/js/backend-bundle.min.js' %}"></script> 
    
    <script>
        $(document).ready(function(){
            $('.modal').on('hidden.bs.modal', function () {
                if ($('.modal.show').length) {
                    $('body').addClass('modal-open'); // Keep the modal background active
                }
            });
        });
        </script>
        <script>
            $(document).on('click', '[data-toggle="modal"]', function () {
                setTimeout(function () {
                    $('.modal-backdrop').remove();
                }, 500);
            });
        </script>
 
    
    <!-- app JavaScript -->
    <script src="{% static 'webkit/assets/js/app.js' %}"></script>
    
    <script src="{% static 'webkit/assets/vendor/moment.min.js' %}"></script>

    <!--             Sweet Alert jhvcsajh              -->
{% block alerts %}
    {% comment %} Alertyfy JS {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script>
        alertify.set('notifier','position', 'top-center');

        {% for msg in messages %}

        alertify.success("{{ msg }}");
        {% endfor %}
    </script>
    <!-- Sweet Alert JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>