{% extends 'app/webkit/main.html' %}
{% load static %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                        <h5>Your Task</h5>
                        <div class="d-flex flex-wrap align-items-center">
                            <form method="GET" action="{% url 'CRM:taskList' %}">
                                <div class="dropdown status-dropdown mr-3">
                                    
                                    <select name="project_selected" id="project_selected" class="form-control" onchange="this.form.submit()">
                                        <option value='All Tasks'>select project</option>
                                        <option value='All Tasks' {% if not request.GET.project_selected or request.GET.project_selected == 'All Tasks' %}selected{% endif %}>All Projects</option>
                                        {% for project in projects %}
                                            <option value="{{ project.id }}" {% if request.GET.project_selected == project.id|stringformat:"s" %}selected{% endif %}>{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            {% if user.is_superuser %}
                            <a href="#" class="btn btn-primary" data-target="#new-task-modal" data-toggle="modal">New Task</a>
                            {% include 'app/webkit/Modals/taskModal.html' %}
                            {% endif %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        </div>

        
        {% for task in tasks %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-widget task-card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="custom-control custom-task custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck01{{task.task.id}}" {% if task.task.status == "Completed" %}checked{% endif %}>
                                                <label class="custom-control-label" for="customCheck01"></label>
                                            </div>
                                            <div>
                                                <h5 class="mb-2">{{ task.task.name }}</h5>
                                                <div class="media align-items-center">
                                                    <div class="btn bg-body mr-3"><i class="ri-align-justify mr-2"></i>{{task.completed_items}}/{{task.checklists.count}}</div>
                                                    {% comment %} <div class="btn bg-body"><i class="ri-survey-line mr-2"></i>{{task.attachments.count}}</div> {% endcomment %}
                                                    <div class="btn bg-body mr-3">
                                                        <div class="svg-icon" >                        
                                                            <svg class="svg-icon  mr-2" width="15" height="17" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="silver" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                <path d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13"></path>
                                                            
                                                                
                                                            </svg>
                                                            {{task.attachments.count}}
                                                        </div>
                                                    </div>
                                                    <div class="btn bg-body">
                                                        <div class="svg-icon" >                        
                                                            <svg class="svg-icon  mr-2" width="15" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                <path d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"></path>
                                                            
                                                                
                                                            </svg>
                                                            {{task.comments.count}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media align-items-center mt-md-0 mt-3">
                                            <a href="#" class="btn bg-purple-light mr-3">Project : {{ task.task.project.name }}</a>
                                            <a class="btn bg-secondary-light mr-2" data-toggle="collapse" href="#collapseEdit1{{task.task.id}}" role="button" aria-expanded="false" aria-controls="collapseEdit1{{task.task.id}}"><i class="ri-edit-box-line m-0"></i></a>
                                            {% if user.is_superuser %}
                                            <a class="btn bg-danger-light" href="{% url 'CRM:task_delete' task.task.id %}"><i class="ri-delete-bin-line m-0"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>  
                                </div>
                            </div>   
                            {% if not  user.is_superuser %}
                                {% include 'app/webkit/Modals/col2.html' with task=task %}
                            {% endif %}
                            {% if user.is_superuser %}
                                {% include 'app/webkit/Modals/col.html' with task=task %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <h4>No Tasks added yet.</h4>
        {% endfor %}
    </div>

<script>
    document.getElementById('task-form-{{ task.task.id }}').addEventListener('submit', function(event) {
        console.log('Form submitted for task ID:', '{{ task.task.id }}');
    }); 
</script>
{% endblock %}
