{% extends 'app/webkit/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                    <h5>Our Team</h5>
                    <div class="d-flex align-items-center">                                
                        <div class="list-grid-toggle d-flex align-items-center mr-3">
                            <div data-toggle-extra="tab" data-target-extra="#grid" class="active">
                                <div class="grid-icon mr-3">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect>
                                    </svg>
                                </div>
                            </div>
                            <div data-toggle-extra="tab" data-target-extra="#list">
                                <div class="grid-icon">
                                    <svg  width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                        <div class="pl-3 border-left btn-new">
                             <button class="btn btn-primary" data-toggle="modal" data-target="#new-user-modal">New Employee</button>
                             {% include 'app/webkit/Modals/userModal.html' with client=None %}
                        </div>
                        <div class="pl-3 btn-new">
                            <a href="{% url 'CRM:apply_leave_list' %}"> <button class="btn btn-primary" data-toggle="modal" data-target="{% url 'CRM:apply_leave_list' %}">Leave Applications</button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
    <div class="row">


        <!-- for loop start -->
        {% for employee in employees %}
        <div class="col-lg-4 col-md-6">
            <div class="card-transparent card-block card-stretch card-height">
                <div class="card-body text-center p-0">                            
                    <div class="item">
                        <div class="odr-img">
                            <div class="profile-pic-container {% if employee.user.is_superuser %}admin{% else %} {% if employee.is_clocked_in %}clocked-in{% else %}clocked-out{% endif %}{% endif %}">
                                {% if employee.profile_pic  %}
                                <img src="{{ employee.profile_pic.url }}" class="img-fluid rounded-circle avatar-90 m-auto" alt="bv">
                                {% else %}
                                <img src="{% static 'webkit/assets/images/user/02.jpg' %}" class="img-fluid rounded-circle avatar-90 m-auto" alt="bv">
                                {% endif %}
                            </div> 
                        </div>        
                        <div class="odr-content rounded">                                          
                            <h4 class="mb-2">{{ employee.user.username }}</h4>
                            <p class="mb-3">{{ employee.user.email }}</p>
                            
                            <ul class="list-unstyled mb-3">
                                <a href="mailto:{{ employee.user.email }}">
                                    <li class="bg-secondary-light rounded-circle iq-card-icon-small mr-4">
                                        <i class="ri-mail-open-line m-0"></i>
                                    </li>
                                </a>
                                <a href="{% url 'private-chat' username=employee.user.username %}">
                                    <li class="bg-primary-light rounded-circle iq-card-icon-small mr-4 btn">
                                        <i class="ri-chat-3-line m-0"></i>
                                    </li>
                                <a>
                            </ul>                                    

                            <div class="pt-3 border-top ">
                                {% if user.is_superuser %}
                                <div class="pl-3 border-left btn-new">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#uploadSalarySlipModal-{{employee.user.id}}">
                                        Upload Salary Slip
                                    </button>
                                    {% include 'app/webkit/Modals/salaryModal.html' with user=employee.user %}
                                </div>
                                <div class="pl-3 border-left btn-new mt-2">
                                    <a href="{% url 'CRM:employee_salary_slips' employee.user.id %}" class="btn btn-success" role="button">
                                        View Salary Slips
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <h4>No Employees added yet.</h4>
        {% endfor %}
        <!-- for loop end -->
    </div>
    </div>
    <div id="list" class="item-content animate__animated animate__fadeIn" data-toggle-extra="tab-content">
        <div class="table-responsive rounded bg-white mb-4">
            <table class="table mb-0 table-borderless tbl-server-info">
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>
                            <div class="media align-items-center">
                                {% if employee.profile_pic  %}
                                <img src="{{ employee.profile_pic.url }}" class="img-fluid rounded-circle avatar-40" alt="image">
                                {% else %}
                                <img src="{% static 'webkit/assets/images/user/02.jpg' %}" class="img-fluid rounded-circle avatar-40" alt="image">
                                {% endif %}
                                <h5 class="ml-3">{{employee.user.username}}</h5>
                            </div>
                        </td>
                        <td>{{ employee.user.email }}</td>
                        <td>
                            <div class="media align-items-center">
                                 <a href="mailto:{{ employee.user.email }}">
                                    <div class="bg-secondary-light rounded-circle iq-card-icon-small mr-3">
                                        <i class="ri-mail-open-line m-0"></i>
                                    </div>
                                </a>    
                                <a href="{% url 'private-chat' username=employee.user.username %}">
                                    <div class="bg-primary-light rounded-circle iq-card-icon-small mr-3">
                                        <i class="ri-chat-3-line m-0"></i>
                                    </div>
                                </a>
                                <a href="https://wa.me/{{ employee.user.profile.phone_number }}" target="_blank">
                                    <div class="bg-success-light rounded-circle iq-card-icon-small">
                                        <i class="ri-phone-line m-0"></i>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary">Message</a>
                        </td>
                        {% if user.is_superuser %}
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'CRM:employee_delete' employee.id %}" class="text-body"><i class="las la-trash-alt mr-0"></i></a>
                            </div>
                        </td>
                        {% endif %}
                    </tr> 
                    
                    {% empty %}
                        <h4>No Employees added yet.</h4>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
</div>
{% endblock %}